/* Définition des polices personnalisées */
@font-face {
  font-family: "open_sanslight";
  src: url("fonts/OpenSans-Light-webfont.eot");
  src: url("fonts/OpenSans-Light-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/OpenSans-Light-webfont.woff2") format("woff2"),
    url("fonts/OpenSans-Light-webfont.woff") format("woff"),
    url("fonts/OpenSans-Light-webfont.ttf") format("truetype"),
    url("fonts/OpenSans-Light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Eléments principaux de la page */

body {
  /* font-family:'open_sanslight',Arial, Helvetica, sans-serif; */
  font-family: "Source Serif Pro";
}

#cv-page {
  display: flex;
  flex-direction: row;
  max-width: 900px;
  min-width: 300px;
  color: #404040;
  border: 0.5px solid #404040;
  margin: auto;
  height: auto;
}

/* Header */

.header {
  display: flex;
  /* flex-wrap: wrap; */
  flex-flow: column wrap;
  color: #404040;
}

#nom {
  color: #feca07;
}

hr.Developpeur {
  flex-grow: 1;
  border: 0.5px solid #feca07;
  margin-right: 440px;
  margin-left: 170px;
  margin-top: 0px;
  padding-top: 0px;
}


.header p,
h1 {
  text-align: center;
  margin-left: 150px;
  margin-top: 50px;
  margin-right: 180px;
}
.header p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 20px;
}
.header h1 {
  margin-bottom: 0px;
}
/*Aside*/

.aside {
  display: flex;
  flex-flow: column wrap;
  background-color: #feca07;
  /* background-color: #072330; */
  width: 30%;
  height: auto;
  word-break: break-all;
}

figure {
  display: flex;
}

img {
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  border-radius: 50%;
}

aside p {
  margin-left: 20px;
  margin-right: auto;
}
aside h2 {
  background-color: #404040;
  color: white;
  margin: auto;
}

aside span {
  font-weight: bold;
}

.contact {
  font-size: 16px;
}
.a-propos {
  flex-grow: 1;
}
.a-propos p {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.loisirs ul {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
}
.loisirs li {
  border-radius: 50%;
  border: 2px solid #404040;
  padding: 10px;
  margin: 10px;
}

/*section de droite */

.section-droite {
  /* background-color: #0C2C3B; */
}

/*content*/

.formation {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0px;
  list-style: none;
}

.title {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0px;
  margin-left: 40px;
  margin-right: auto;
}

.fa-graduation-cap {
  padding-right: 10px;
  color: #feca07;
}

hr.solid {
  border: 0.5px solid #feca07;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 10px;
  width: 550px;
}

/* .first {
  display: flex;
  flex-flow: row nowrap;
  margin-left: 50px;
  margin-right: 10px;
  width: 600px;
  padding-left: 0px;
  padding-right: 0px;
} */

.left {
  margin-bottom: 50px;
  width: 185px;
  height: auto;
}

div.left {
  padding-right: 70px;
  text-align: left;
}

.right {
  margin-left: 200px;
  margin-right: auto;
  width: 300px;
  height: auto;
  list-style: none;
}
div.right {
  margin-left: 0px;
  padding-left: 0px;
}

.date {
  margin-top: 0px;
  margin-left: 30px;
  margin-bottom: 0px;
}

.ville {
  /* margin: 4px 4px; */
  margin-left: 15px;

  /* position: absolute; */
}

.fa-dot-circle {
  /* padding-right: 10px; */
  padding: 2px 5px;
  margin-left: -40px;
  color: #feca07;
  font-size: 12px;
}
.fa-circle {
  /* padding-right: 10px; */
  padding: 2px 5px;
  margin-left: -40px;
  color: #feca07;
  font-size: 12px;
}

li h3 {
  margin-top: 0px;
  padding-top: 0px;
  text-align: left;
}

/*experience professionnelle*/
.experience-pro {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  /* background-color: blue; */
}

.fa-address-card {
  padding-right: 10px;
  color: #feca07;
}

/*recommandation*/
.recommandation {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.fa-pen-alt {
  padding-right: 10px;
  color: #feca07;
}

h1,
h2 {
  text-transform: uppercase;
  text-align: center;
}

#adresse,
#telephone,
#email,
#site {
  font-weight: bold;
}

@media screen and (max-width: 900px) {
  #cv-page {
    width: auto;
    flex-direction: column;
    border: none;
  }
  .aside {
    flex-flow: row wrap;
    width: auto;
  }
  .header{
    flex-flow: row wrap;
    width: auto;

  }

  .header p,
h1 {
  text-align:left;
  margin-left: 60px;
 
}

  section {
    flex-direction: row;
  }

  hr.solid {
    display: none;
  }

  .loisirs {
    display: none;
  }
  .contact {
    display: none;
  }
  .left {
    display: none;
  }

  .right {
    text-align: justify;
    overflow: hidden;
  }

  hr.Developpeur {
    display: none;
  }
}
